
#boutonContainer{
    float: inline-start;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.badge {
    float: left; 
    height:16px;
    width: 15px;
}

.mainCard{
    height:200px;
    width: 600px;
}

.icon{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center; 
}

.teamMember {
    display: inline-block;
    margin: 20px;
    stroke: black 1mm;
}

.my-header h2 { 
    display: inline;
    margin-left: 260px;

  }
  .my-header span { 
    float: left;
  }