
<mat-card class = "mainCard">

    <div style="clear: left;">
        <p style="float: left;"><img src="/assets/pokemonstar.svg" height="200" width="200"></p>
        <div>
            <h1>Nom: </h1>
            <h2>{{username}}</h2>
        </div>
        <div>
            <h3>Date: {{date}}</h3>
        </div>
    </div>

</mat-card>
<mat-card>
    <div>
        <li *ngFor="let pkmnNb of team; let i = index;" class="teamMember">
            {{ i+1 }}. <img src="./../../../assets/imgPkmns/{{pkmnNb+1}}.png">
            WORK IN PROGRESS...
        </li>
    </div>
</mat-card>

<mat-card id="boutonContainer">
    <mat-list-item><button mat-flat-button color="accent" class="icon" (click)="gotoLink('/pokedex');">Pokédex</button></mat-list-item>
    <mat-list-item><button mat-flat-button color="basic" class="icon" (click)="gotoLink('/events');">Calendrier</button></mat-list-item>
</mat-card>


