    #connexion {
    margin-left: 300px;
    float: right;
    margin-top: 15px;
    border-radius: 25px;
}

#inputContainer {
    margin-top: 3 0px;

}

#annuler {
    margin-top: 15px;
    margin-right:50px;
    border-radius: 25px;
}

#devTool {
    margin-top: 40px;
}

.boutonContainer {
    display: flex;
}

.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-items: center;
    margin:auto;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectBouton {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
  }
  
 .login-full-width {
    width: 100%;
}