<section class="login">
	<form class="login-form">
		<p></p>
		<div id="devTool">
			<h4>Type d'utilisateur (Outil de développement)</h4>
			<mat-form-field appearance="fill">
				<mat-label>Choisir un type d'utilisateur</mat-label>
				<select matNativeControl required>
					<option value="joueur">Joueur</option>
					<option value="champion">Champion</option>
					<option value="admin">Administrateur</option>
				</select>
			</mat-form-field>
		</div>
		<div id="inputContainer">
			<mat-form-field class="login-full-width">
				<mat-label>Nom d'utilisateur : </mat-label>
				<input matInput type=text name="username" id="username" [(ngModel)]="username" placeholder="Ex. AshKetchum" required>
			</mat-form-field>
	
			<mat-form-field class="login-full-width">
				<mat-label>Adresse courriel : </mat-label>
				<input matInput type="email" name="email" id="email" [(ngModel)]="email" placeholder="Ex. example@courriel.ca" required>
			</mat-form-field>
	
			<mat-form-field class="login-full-width">
				<mat-label>Mot de passe : </mat-label>
				<input matInput name="password" type=password id="password" [(ngModel)]="password" required>
			</mat-form-field>
	
			<div class="boutonContainer">
				<button mat-raised-button id="annuler" (click)="gotoLink('/accueil');" color="flat">Annuler</button>
				<button mat-raised-button id="connexion" (click)="onClickAction('/profile');" color="accent">Créer</button>
			</div>
		</div>
	</form>
</section>