<div class="mainContent">
    <section class="accueil">
        <h2 id="title">! Bienvenue sur le site !</h2>   

        <div class="general">
            <mat-card class="help">
                <p>
                    S'il s'agit de votre première fois sur le site et vous désirez obtenir de l'aide, 
                    naviguer à la section <strong>aide</strong> ci-bas afin d'obtenir plus de renseignements.
                </p>
                <button mat-raised-button color="primary" (click)="gotoLink('/help')">
                    Je veux de l'aide. 
                </button>
            </mat-card>
            <img width="300" class="img-responsive" src="assets/pikachu.png">
            <mat-card class="aboutUs">
                <p>Si vous désirez en connaître plus sur la ligue, ses objectifs et son histoire, consultez la section <strong>à propos</strong>.</p>
                <button mat-raised-button color="accent" (click)="gotoLink('/about-us')">
                    À propos de nous ... 
                </button>
            </mat-card>
        </div>

    </section>

</div>