.mainContent {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 15px;
}
#spacer {
    margin-left: 30px;
    margin-right: 30px;
}

#title {
        margin-left: 620px;
        margin-top: 30px;
}

.aboutUs {
    width: 400px;
    height: 250px;
    text-align: center;
    margin-left: 150px;
    font-size: 18px;
    background-color: rgb(204,241,255);
    padding: 10px;
    margin-top: 38px;
}

.help {
    width: 400px;
    height: 250px;
    text-align: center;
    margin-right: 150px;
    font-size: 18px;
    background-color: rgb(250,255,199);
    padding: 10px;
    margin-top: 38px;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 12px;
}

.img-responsive {
    justify-self: center;
    /* margin-left: 11%; */
    margin-top: 20px;

}
.general {
    display: flex;
    /* justify-content: center; */
}


