<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <h2 id="menu">Menu</h2>
      </mat-list-item>
      
      <mat-list-item role="listitem" class="listItem"><button class="invisible" routerLink="/" routerLinkActive="active"
        (click)="drawer.toggle()">Accueil</button></mat-list-item>

        <mat-list-item role="listitem" class="listItem"><button class="invisible" routerLink="/post" routerLinkActive="active"
          (click)="drawer.toggle()">Publier</button></mat-list-item>

      <div *ngIf="estCo(); then thenBlockMenu else elseBlockMenu"></div>
      <ng-template #elseBlockMenu>
      
      </ng-template>
      <ng-template #thenBlockMenu>
        <mat-list-item role="listitem" class="listItem"><button class="invisible" routerLink="/profile" routerLinkActive="active"
          (click)="drawer.toggle()">Profil</button></mat-list-item>
        <mat-list-item role="listitem" class="listItem"><button class="invisible" routerLink="/pokedex"
          routerLinkActive="active" (click)="drawer.toggle()">Pokédex</button></mat-list-item>
      </ng-template>

      <mat-list-item role="listitem" class="listItem"><button class="invisible" routerLink="/events"
          routerLinkActive="active" (click)="drawer.toggle()">Calendrier & événements</button></mat-list-item>
      <mat-list-item role="listitem" class="listItem"><button class="invisible" routerLink="/about-us"
          routerLinkActive="active" (click)="drawer.toggle()">À propos</button></mat-list-item>
      <mat-list-item role="listitem" class="listItem"><button class="invisible" (click)="drawer.toggle()">Aide</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()" color="accent">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="appTitle">


        <button classe= "invisible2" routerLink="/" routerLinkActive="active">
          <h3>
            <img width="16" class="img-responsive" src="assets/pokeball.svg">
            Montreal Pkmn League <img width="16" class="img-responsive" src="assets/pokeball.svg">
          </h3>
        </button>

      </span>
      <span class="example-spacer"> </span>

      <div *ngIf="estCo(); then thenBlock else elseBlock"></div>
      <ng-template #elseBlock>
        <button mat-flat-button color="accent" class="connectBouton" routerLink="/sign-in" routerLinkActive="active">
          Connexion
        </button>

        <button mat-flat-button color="basic" class="connectBouton" routerLink="/login" routerLinkActive="active">
          Inscription
        </button>
      </ng-template>

      <ng-template #thenBlock>
        <button mat-flat-button color="basic" class="connectBouton" (click)="changeCo(); gotoLink('/')">
          Déconnexion
        </button>
      </ng-template>
    </mat-toolbar>
  </div>


  <section class="contentContainer">


    <router-outlet class="routerOutler">


    </router-outlet>
  </section>

</mat-drawer-container>



<!-- <app-about-us></app-about-us>

<app-sign-in></app-sign-in> -->