.pokedex{
  size: 1fr;
  width: max-content;
  display: initial;
  place-content: left;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 15px;
    /* background-color: #fff;
    color: #444; */
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    grid-template-rows:    repeat(auto-fill, 250px);
    grid-template-columns: repeat(auto-fill, 250px);
    height: 150px;
  }

  .addToTeam {
    position: sticky;
    display: inline-block;
    margin-bottom: 60px;
    margin-left: 200px;
  }

  .pkmnFrame img {
    /*margin: (counter(offset)-1)*96 (counter(offset)-1)/30*96 counter(offset)*96 counter(offset)/30*96;*/
    /* position: 1px*(counter(offset)-1)*96 1px*(counter(offset)-1)/30*96 1px*counter(offset)*96 1px*counter(offset)/30*96; */

    /* object-position: var(--offset)*96 var(--offset)/30*96; */
    image-rendering: pixelated;
    height: 3cm;
    width: 3cm;
  }
  
  .pkmnFrame {
    width: 96px;
    height: 96px;
    border: 1px #222;
    display: inline-block;
    /* width: 48px;
    height: 48px; */
  }
