<div id="mainContent">
  <h3><strong>Publication</strong></h3>
    <mat-form-field class="example-full-width">
      <mat-label>Titre de l'annonce</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description de l'annonce</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <p>
      <mat-checkbox id="check" [formControl]="disableSelect">Est-ce qu'il s'agit de la création d'un tournoi?</mat-checkbox>
    </p>

    <mat-form-field class="example-full-width">
      <mat-label>Emplacement du tournoi</mat-label>
      <input matInput [disabled]="!disableSelect.value" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Date du tournoi</mat-label>
      <input matInput [disabled]="!disableSelect.value" required>
    </mat-form-field>
    <button mat-raised-button id="annuler" (click)="gotoLink('/accueil');" color="flat">Annuler</button>
    <button mat-raised-button id="envoyer" (click)="gotoLink('/accueil');" color="accent">Envoyer l'annonce</button>
</div>

