#mainContent{
  padding-top:70px;
  padding-left: 400px;
  padding-right: 400px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  #annuler {
    margin-right: 510px;
  }

  #check {
    margin-top: 15px;
  }